.Title {
    font-family: "Abril Fatface", sans-serif;
}

.sublist {
    font-family: "Shadows Into Light", sans-serif;
}

.citation {
    font-family: "Square Peg", sans-serif;
}

div.youtube {
    position: fixed;
    right: 1%;
    top: 75%;
    font-family: "Indie Flower", sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
    color: black;
    animation-name: font;
    animation-duration: 9s;
    animation-iteration-count: infinite;

}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #c0c0c0;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    animation-name: border;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes border {
    0% {
        border-color: black;
    }

    33% {
        border-color: purple;
    }

    66% {
        border-color: blue;
    }
}

@keyframes font {
    0% {
        color: black;
    }

    33% {
        color: purple;
    }

    66% {
        color: blue;
    }
}